
.login-signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 25px 0;
  
  background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/75986c19110981.562d51daa0a74.jpg');
  background-image:url('https://png.pngtree.com/background/20230419/original/pngtree-website-science-and-technology-light-effect-ring-background-picture-image_2448025.jpg');
  background-color: var(--background-color);  
  background-size: cover;
  /* background-size: 50% 100%; */
  background-position: left;
  background-repeat: no-repeat;
  
  
  font-family: var(--primary-font);
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  gap: 2em;
  flex-wrap: wrap;



  .illustartion {
    width: 550px;
    margin-right: 2em;
  }

  .login-box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .divider {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        height: 1px;
        background-color: var(--dull-color);
        flex-grow: 1;
      }



      span {
        margin: 0 1em;
        color: var(--dull-color);
      }
    }

    .illustartion {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
}
      span {
        margin: 2em 1em;
        
      }
    }

    .logo {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 2em;
      padding: 0 1.5em;
      width: 100%;
    

      img {
        height: 7em;
      }

      span {
        margin-left: 0.25em;
        font-size: 4em;
        font-family: var(--logo-font);
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      label {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          position: absolute;
          left: 0.75em;
          font-size: 1em;
        }
      }

      input {
        width: 100%;
        padding: 1em 1em;
        padding-left: 3em;
        border-radius: 10px;
        margin: 0.5em 0;
        font-family: var(--primary-font);
        color: #ffffff;
        background-color: #000000;
        font-size: 0.8em;
        border: 2px solid transparent;
        transition: 250ms;
      }

      input:not([type="submit"]):active {
        border-color: #ffffff;
      }

      input:not([type="submit"]):hover {
        border-color: #aaaaaa;
      }

      input[type="submit"] {
        width: auto;
        background-color: var(--secondary-color);
        color: var(--light-background-color);
        padding: 1em 2.5em;
        cursor: pointer;
        margin: 2em 0;
        font-weight: bold;
        transition: 250ms;
      }
      input[type="submit"]:focus,
      input[type="submit"]:hover {
        background-color: var(--accent-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .login-signup-box .login-box .logo {
    img {
      height: 5em;
    }
    span {
      font-size: 3.5em;
    }
  }
}

@media (max-width: 1020px) {
  .login-signup-box .illustartion {
    display: none;
  }
}
.illustrationImg{
  width: 250%;
  height: auto;
  
  margin-right: 2em;
}
.switch-to-signup{
  cursor: pointer;
  color: #7f7fff;
  text-decoration:none;
  font-weight: bold;
}


.switch-to-login{
  cursor: pointer;
  color: #7f7fff;
  text-decoration:none;
  font-weight: bold;
}
.alr{
  text-align: center;
  width: 100%;
  display: block;
  color:rgb(255, 255, 255);
  font-weight: bold;
}